// Colors
@import '../colors.scss';

.Card{
    padding: .25em;
    margin: .5em;

    h1,h2,h3,h4,h5{
        margin: 0;
    }
}

.Card.no-margin{

    p{
        margin: 0;
    }
}

.Card.color-1{
    background-color: $color-1;
    color: $white;

    a, a:active{
        color: $white;
    }
}
.Card.color-2{
    background-color: $color-2;
    color: $color-1;
}
.Card.color-3{
    background-color: $color-3;
    color: $black;
}
.Card.color-4{
    background-color: $color-4;
    color: $black;
}
.Card.color-5{
    background-color: $color-5;
    color: $white;
}
.Card.color-light{
    background-color: $white;
    color: $black;
}
.Card.color-dark{
    background-color: $black;
    color: $white;
}